langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv==1.4.8
pymupdf
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
streamlit
pypdf
langchain